html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ededed;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'klavika';
  src: url("fonts/Klavika-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'klavika';
  src: url("fonts/Klavika-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.cmu-font {
  float: right;
  padding-top: 35px;
}

.create-lab-font {
  font-family: klavika, Helvetica, Arial, sans-serif !important;
  padding-top: 30px;
}

.title-text {
  font-size: 23pt;
  color: black;
}

.subtitle-text {
  font-size: 21pt;
  font-weight: 100;
  color: #494949;
  margin-top: -10px;
}

.content-text {
  text-align: left;
  font-size: 11pt;
}

#container {
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 960px;
  text-align: center;
}

#header {
  text-align: center;
  width: 943px;
}

#header-titles {
  text-align: left;
}

#header-titles a {
  text-decoration: none;
}

#site-description {
  margin: 20px 0 0 0;
}

#cmu-logo-detail-page {
  position: relative;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  background-image: url('../img/CM_logo_horiz_black.png');
  background-size: 200px 30px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #cmu-logo-detail-page {
    background-image: url('../img/CM_logo_horiz_black@2x.png');
    background-size: 200px 30px;
  }
}

#body {
  overflow: hidden;
  width: 960px;
  margin: 30px auto 0;
  padding-bottom: 30px;
}

.thumbnail {
  width: 225px;
  float: left;
  margin-bottom: 20px;
  margin-right: 12px;
}

.thumbnail a {
  color: black;
}

.thumbnail-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.thumbnail-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

.thumbnail-description {
  text-align: left;
  margin-top: 2px;
  font-size: small;
}

#footer {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 25px;
  font-family: klavika, Helvetica, Arial, sans-serif !important;
}

#footer a {
  color: black;
}

#embed {
  float: left;
  width: 520px;
  margin-right: 20px;
  margin-left: 2px;
}

#embed-description {
  float: right;
  width: 400px;
  text-align: left;
}

#embed-description ul {
  list-style: none;
  padding:0;
}

#embed-description ul a{
  font-size: large;
}